// Home

// Group
$group-margin-horizontal: 30px;
$group-margin-bottom: 30px;
$group-margin-top: 0px;
$group-bgColor: #fff;
$group-border: 1px solid #333;


// Card
$card-border: 1px solid #444;
$card-height: 120px;
$card-logo-hw: 40px;
$card-title-height: 40px;


// Global
$html-bgColor: #eee;
$title-font-size: 18px;
$main-font-size: 14px;
$sub-font-size: 12px;



html
  background-color: $html-bgColor